:root {
    --body-bg: #fff;
    --body-bg-lighter: #d3d3d3;
    --body-cl: #111;
}

html {
    font-family: "Noto Sans Thai Looped", sans-serif;
    line-height: 1.5rem;
}

:first-child {
    margin-top: 0 !important;
}

:last-child {
    margin-bottom: 0 !important;
}

body {
    margin: 0;
}

.customer {
    --theme-bg-lightest: #ffedc8;
    --theme-bg-lighter: #ffc863;
    --theme-bg: #ffa500;
    --theme-bg-darker: #da841c;
    --theme-cl: #422400;
}

.restaurant {
    --theme-bg-lightest: #d6dfff;
    --theme-bg-lighter: #3054cc;
    --theme-bg: #062FB7;
    --theme-bg-darker: #071c5f;
    --theme-cl: #fff;
}

header {
    padding: 1rem;
    text-align: center;
}

header.big {
    padding-top: 8rem;
}

main {
    max-width: 48rem;
    padding: 2rem 1rem;
    margin: auto;
}

main > div {
    margin: 1.5rem 0;
}

footer {
    padding: 1rem;
    text-align: center;
    background: #efefef;
}

h1, h2, h3, legend, button, .button {
    font-family: "Mitr", sans-serif;
}

header {
    background: var(--theme-bg);
    color: var(--theme-cl);
}