html {
    font-family: "Noto Sans Thai Looped", sans-serif;
}

:first-child {
    margin-top: 0 !important;
}

:last-child {
    margin-bottom: 0 !important;
}

body {
    margin: 0;
}

header {
    padding: 1rem;
    text-align: center;
}

header.big {
    padding-top: 8rem;
}

main {
    padding: 2rem 1rem;
    max-width: 48rem;
    margin: auto;
}

h1, h2, h3, legend, button, .button {
    font-family: "Mitr", sans-serif;
}

.customer header {
    background: orange;
}

.restaurant header {
    background: #557bfa;
    color: #fff;
}