{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/main.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/orderspage.css' %}">
    <title>Orders Page</title>
</head>
<body class="restaurant">
    <header>
        <h1>ร้านไข่เจียวนัมเบอร์วัน</h1>
    </header>
    <main>
        <h2>คำสั่งซื้อที่ยังไม่เสร็จ</h2>
        <div class="orders">
            <div class="order">
                <div class="order-queue-no">69</div>
                <ul class="order-content">
                    <li><strong>ไส้:</strong> หมูสับ ปูอัด พริก</li>
                    <li><strong>ไข่:</strong> 1 ฟอง</li>
                    <li><strong>ใส่กล่อง</strong></li>
                </ul>
                <form action="#">
                    <button type="submit">เสร็จสิ้น</button>
                </form>
            </div>
            <div class="order">
                <div class="order-queue-no">69</div>
                <ul class="order-content">
                    <li><strong>ไส้:</strong> หมูสับ ปูอัด พริก</li>
                    <li><strong>ไข่:</strong> 1 ฟอง</li>
                    <li><strong>ใส่กล่อง</strong></li>
                </ul>
                <form action="#">
                    <button type="submit">เสร็จสิ้น</button>
                </form>
            </div>
            <div class="order">
                <div class="order-queue-no">69</div>
                <ul class="order-content">
                    <li><strong>ไส้:</strong> หมูสับ ปูอัด พริก</li>
                    <li><strong>ไข่:</strong> 1 ฟอง</li>
                    <li><strong>ใส่กล่อง</strong></li>
                </ul>
                <form action="#">
                    <button type="submit">เสร็จสิ้น</button>
                </form>
            </div>
            <div class="order">
                <div class="order-queue-no">69</div>
                <ul class="order-content">
                    <li><strong>ไส้:</strong> หมูสับ ปูอัด พริก</li>
                    <li><strong>ไข่:</strong> 1 ฟอง</li>
                    <li><strong>ใส่กล่อง</strong></li>
                </ul>
                <form action="#">
                    <button type="submit">เสร็จสิ้น</button>
                </form>
            </div>
            <div class="order">
                <div class="order-queue-no">69</div>
                <ul class="order-content">
                    <li><strong>ไส้:</strong> หมูสับ ปูอัด พริก</li>
                    <li><strong>ไข่:</strong> 1 ฟอง</li>
                    <li><strong>ใส่กล่อง</strong></li>
                </ul>
                <form action="#">
                    <button type="submit">เสร็จสิ้น</button>
                </form>
            </div>
        </div>
    </main>
    <nav>
        <ul>
            <li>
                <a href="#">คำสั่งซื้อ</a>
            </li>
        </ul>
    </nav>
</body>
</html>