{% load static %}
{% load restaurant %}

<!DOCTYPE html>
<html lang="th">
<head>
    {% include '../metadata.html' %}
    <link rel="stylesheet" href="{% static 'restaurant/main.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/orderspage.css' %}">
    <title>Orders Page</title>
</head>
<body class="restaurant">
    {% include '../header.html' %}
    <main>
        <h2>คำสั่งซื้อที่ยังไม่เสร็จ</h2>
        <div id="orders">
            {% for order in orders %}
                <div class="order">
                    <div class="order-queue-no">{{ order.queue_number }}</div>
                    <ul class="order-content">
                        <li><strong>ไส้:</strong>
                            {% if order.fillings.all|length == 0 %}
                                -
                            {% else %}
                                {{ order.fillings.all|parse_fillings }}
                            {% endif %}
                        </li>
                        <li><strong>ไข่:</strong> {{ order.egg_amount.amount }} ฟอง</li>
                        <li>
                            {% if order.is_takeaway %}
                                <strong>ใส่กล่อง</strong>
                            {% endif %}
                        </li>
                    </ul>
                    <form action="{% url 'mark_order_as_done' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ order.pk }}">
                        <button type="submit">เสร็จสิ้น</button>
                    </form>
                </div>
            {% endfor %}
            {% if orders|length == 0 %}
                <p>ไม่มีคำสั่งซื้อล่าสุด</p>
            {% endif %}
        </div>
    </main>
    {% include '../restaurant-nav.html' %}
    <script>
        const orders = document.getElementById("orders");
        const socket = new WebSocket(`ws://${location.host}/ws/order-watcher`)

        function createOrderCard(data) {
            return `<div class="order">
                <div class="order-queue-no">${data.queue_number}</div>
                <ul class="order-content">
                    <li><strong>ไส้:</strong>
                        ${data.fillings.length == 0
                            ? "-"
                            : data.fillings.join(" ")
                        }
                    </li>
                    <li><strong>ไข่:</strong> ${data.egg} ฟอง</li>
                    <li>
                        ${data.box ? "<strong>ใส่กล่อง</strong>" : ""}
                    </li>
                </ul>
                <form action="{% url 'mark_order_as_done' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="${data.id}">
                    <button type="submit">เสร็จสิ้น</button>
                </form>
            </div>`
        }

        socket.addEventListener("message", function(event) {
            const data = JSON.parse(event.data)
            console.log(data);
            orders.insertAdjacentHTML("beforeend", createOrderCard(data));
        });

        window.addEventListener("close", function() {
            socket.close();
        });
    </script>
</body>
</html>