{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
    {% include '../metadata.html' %}
    <link rel="stylesheet" href="{% static 'restaurant/main.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/statistics.css' %}">
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
    <title>Statistics Page</title>
</head>
<body class="restaurant">
    {% include '../header.html' %}
    <main>
        <form action="" method="get">
            <label for="date">ดูสถิติของวันที่</label>
            <input type="date" name="date" id="date" value="{{ filter_date }}">
            <button type="submit">เรียกดู</button>
        </form>
        <div class="stats-box span">
            <div class="order-count span">
                <span>จำนวนคำสั่งซื้อทั้งหมด</span><span class="invisible">:</span>
                <span class="value">{{ order_count }}</span>
            </div>
            <div>
                <span>จำนวนไข่</span><span class="invisible">:</span>
                <span class="value">{{ egg_count }}</span>
            </div>
            <div>
                <span>ยอดขาย</span><span class="invisible">:</span>
                <span class="value">{{ grossing }}฿</span>
            </div>
            <div class="span">
                <span>จำนวนไส้ที่สั่ง</span>
                <div id="fillings"></div>
            </div>
            <div class="span">
                <span>เวลาที่สั่ง</span>
                <div id="order-time"></div>
            </div>
        </div>
    </main>
    {% include '../restaurant-nav.html' %}
    <script>
        var fillingsData = [{
            x: {{ fillings_graph.x|safe }},
            y: {{ fillings_graph.y|safe }},
            type: "bar"
        }];

        var orderTimeData = [{
            x: {{ order_time_graph.x|safe }},
            y: {{ order_time_graph.y|safe }},
            type: "line"
        }];
        
        function makeLabel(x) {
            return {
                xaxis: {
                    title: {
                        text: x
                    }
                },
                yaxis: {
                    title: {
                        text: "จำนวนคำสั่งซื้อ"
                    }
                }
            }
        }

        Plotly.newPlot("fillings", fillingsData, makeLabel("ชื่อไส้"));
        Plotly.newPlot("order-time", orderTimeData, makeLabel("ชั่วโมงที่"));
    </script>
</body>
</html>