:root {
    --body-bg: #fff;
    --body-bg-lighter: #d3d3d3;
    --body-cl: #111;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans Thai Looped", sans-serif;
}

:first-child {
    margin-top: 0 !important;
}

:last-child {
    margin-bottom: 0 !important;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.customer {
    --theme-bg-lightest: #ffedc8;
    --theme-bg-lighter: #ffc863;
    --theme-bg: #ffa500;
    --theme-bg-darker: #da841c;
    --theme-cl: #422400;
}

.restaurant {
    --theme-bg-lightest: #d6dfff;
    --theme-bg-lighter: #3054cc;
    --theme-bg: #062FB7;
    --theme-bg-darker: #071c5f;
    --theme-cl: #fff;
}

header {
    background: var(--theme-bg);
    color: var(--theme-cl);

    padding: 1rem;
    text-align: center;
}

header.big {
    padding-top: 8rem;
}

main {
    flex: 1;
    width: 100%;
    max-width: 48rem;
    padding: 2rem 1rem;
    margin: auto;
}

main > div {
    margin: 1.5rem 0;
}

footer {
    padding: 1rem;
    text-align: center;
    background: #efefef;
}

h1, h2, h3, legend, button, .button {
    font-family: "Mitr", sans-serif;
}

p {
    line-height: 1.5em;
}

button {
    background: var(--theme-bg);
    border: 1px solid var(--theme-bg-darker);
    color: var(--theme-cl);
    
    border-radius: 0.25rem;
    padding: 0.5em 1.5em;
}

button:hover {
    background: var(--theme-bg-lighter);
}