body {
    padding-bottom: 3rem;
}

nav {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: var(--theme-bg);
    color: var(--theme-cl);
}

nav ul {
    display: flex;
    align-items: center;

    list-style: none;
    padding: 0;

    max-width: 48rem;
    margin: auto;
}

nav li {
    flex: 1;
}

nav button {
    width: 100%;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font: inherit;
}

nav svg {
    margin: 0.25em auto;
    width: 1.75rem;
    height: 1.75rem;
}

nav a,
nav button {
    display: block;
    padding: 0.25rem 0;
    text-align: center;
    text-decoration: none;
    
    color: inherit;
    font-size: 0.8em;
}

nav a:hover,
nav button:hover {
    background: var(--theme-bg-lighter);
}

nav a > *,
nav button > * {
    display: block;
}

nav li[aria-current="true"] a,
nav li[aria-current="true"] button {
    border-bottom: 2px solid var(--theme-bg-lightest);
    background: linear-gradient(
        #0000,
        var(--theme-bg-lighter) 90%
    );
}