#orders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

.order > * {
    border: 1px solid
}

.order-content {
    margin: 0;
    padding: 0.5rem 1rem;
    list-style: none;
    
    border-color: var(--body-bg-lighter);
    border-left: none;
}

.order-content li {
    margin: 0.5rem 0;
}

.order-queue-no {
    grid-row: span 2;
    align-self: stretch;

    padding: 0.5em;
    background: var(--theme-bg);
    border-color: var(--theme-bg-darker);
    color: var(--theme-cl);
    
    font-size: 1.5rem;
    font-weight: bold;
}

.order form {
    border-color: #0000 var(--body-bg-lighter) var(--body-bg-lighter) #0000;
    padding: 0.25rem;
}

.order form button {
    display: block;
    margin-left: auto;
    padding: 0.5em 1.5em;
}

#alert {
    position: sticky;
    top: 0;
    z-index: 99;
    
    background: #caffca;
    border: 1px solid #388a38;

    animation: hide 0s 3s forwards;
}

#alert p {
    max-width: 48rem;
    padding: 0.75em 1rem;
    margin: auto;
}

@keyframes hide {
    from {
        display: block;
    }
    to {
        display: none;
    }
}