{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
    {% include '../metadata.html' %}
    <link rel="stylesheet" href="{% static 'error.css' %}">
    <title>{{ status_code }} Error</title>
</head>
<body class="customer">
    {% include '../header.html' %}
    <main>
        <div class="icon">
            <img src="{% static 'error.svg' %}" alt="Error">
        </div>
        <p>เนื่องจาก<strong><u>{{ message }}</u></strong> ทำให้ระบบไม่สามารถประมวลผลคำสั่งซื้อของท่านได้</p>
        <p>ขออภัยในความไม่สะดวก</p>
        <div class="button-div">
            <a href="/" class="button">กลับ</a>
        </div>
    </main>
    {% include '../footer.html' %}
</body>
</html>