{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
    {% include '../metadata.html' %}
    <link rel="stylesheet" href="{% static 'menupage.css' %}">
    <link rel="stylesheet" href="{% static 'customer/menupage.css' %}">
    <title>Menu Page</title>
</head>
<body class="customer">
    {% include '../header-big.html' %}
    <main>
        {% if error_message %}
            <div class="error-box">
                <div>
                    <p>{{ error_message.intro_text }}</p>
                    <ul>
                        {% for error in error_message.middle_list %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ error_message.outro_text }}</p>
                </div>
            </div>
        {% endif %}
        <form action="{% url 'save_order' %}" method="post">
            <fieldset>
                <legend>เลือกไส้ (สามารถเลือกได้มากที่สุด 3 ไส้)</legend>
                <div class="checkbox-group">
                    {% for filling in fillings %}
                        <div>
                            {% if not filling.is_available %}
                                <input disabled type="checkbox" name="filling" id="{{ filling.name }}" value="{{ filling.name }}">
                            {% else %}
                                <input type="checkbox" name="filling" id="{{ filling.name }}" value="{{ filling.name }}">
                            {% endif %}
                            <label for="{{ filling.name }}">{{ filling.title }}</label>
                        </div>
                    {% endfor %}
                    {% if fillings|length == 0 %}
                        <p>ไม่มีไส้ให้เลือก</p>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset>
                <legend>เลือกไข่</legend>
                <div class="checkbox-group">
                    {% for egg in eggs %}
                        <div>
                            <input type="radio" name="egg" id="{{ egg.amount }}" value="{{ egg.amount }}">
                            <label for="{{ egg.amount }}">{{ egg.amount }} ฟอง ({{ egg.price }} บาท)</label>
                        </div>
                    {% endfor %}
                    {% if eggs|length == 0 %}
                        <p>ไม่มีจำนวนไข่ให้ระบุ</p>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset>
                <legend>ตัวเลือกอื่น ๆ</legend>
                <div class="checkbox-group">
                    <div>
                        {% if restaurant.allow_takeaway %}
                            <input type="checkbox" name="is_takeaway" id="is_takeaway">
                        {% else %}
                            <input disabled type="checkbox" name="is_takeaway" id="is_takeaway">
                        {% endif %}
                        <label for="is_takeaway">ใส่กล่อง</label>
                    </div>
                </div>
            </fieldset>
            {% csrf_token %}
            <div class="button-div"><button type="submit">สั่ง</button></div>
        </form>
    </main>
    {% include '../footer.html' %}
</body>
</html>