.stats-box {
    display: grid;
}

.stats-box > * {
    border-width: 1px;
    border-style: dashed;

    padding: 1rem;
    text-align: center;
}

.stats-box > :not(.order-count) {
    border-color: #0000 var(--body-bg-lighter) var(--body-bg-lighter);
}

.order-count {
    background: var(--theme-bg);
    color: var(--theme-cl);
    border: 1px solid var(--theme-bg-darker);

    font-family: "Mitr", sans-serif;
    font-size: 1.25em;
}

.value {
    display: block;
    line-height: 1.5em;
    font-size: 2em;
    font-family: "Mitr", sans-serif;
}

.invisible {
    opacity: 0;
}

.invisible::selection {
    background: #0000;
}

button {
    padding: 0.25em 1em;
}

button:hover {
    background: var(--theme-bg-lighter);
}

button,
input[type="date"] {
    border-radius: 0.25rem;
    font-size: inherit;
}

input[type="date"] {
    border: 1px solid var(--body-bg-lighter);
    padding: 0.25em 0.5em;
    font-family: "Mitr", sans-serif;
}

.error {
    opacity: 1;
    color: #a00;
    
    display: flex;
    gap: 0.5ch;
    align-items: center;
}

.error::before {
    content: "";
    background: no-repeat url("../not-allowed.svg") center / contain;
    width: 2em;
    height: 2em;
}

@media (min-width: 32rem) {
    .stats-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats-box > *:not(.span):nth-child(2n) {
        border-right: none;
    }

    .span {
        grid-column: span 2;
    }
}