{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
    {% include '../metadata.html' %}
    <link rel="stylesheet" href="{% static 'restaurant/main.css' %}">
    <link rel="stylesheet" href="{% static 'menupage.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/menupage.css' %}">
    <title>Menu Page</title>
</head>
<body class="restaurant">
    {% include '../header.html' %}
    <main>
        <div>
            <h2>เปิด/ปิดไส้</h2>
            <p>เลือกว่าจะให้ลูกค้าสั่งไส้อะไรได้บ้าง</p>
            <form action="{% url 'update_status' %}" method="post">
                <div class="checkbox-group">
                    {% for filling in fillings %}
                        <div>
                            {% if filling.is_available %}
                                <input checked type="checkbox" name="filling" id="{{ filling.name }}" value="{{ filling.name }}">
                            {% else %}
                                <input type="checkbox" name="filling" id="{{ filling.name }}" value="{{ filling.name }}">
                            {% endif %}
                            <label for="{{ filling.name }}">{{ filling.title }}</label>
                        </div>
                        {% if fillings|length == 0 %}
                            <p>ไม่มีไส้ให้เลือกเปิด/ปิด ท่านอาจจะยังไม่ได้เพิ่มไส้ให้แก่ระบบ</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <h2>ซื้อกลับบ้าน</h2>
                <p>อนุญาตให้ลูกค้าสั่งแบบใส่กล่องกลับบ้านได้</p>
                <div class="checkbox-group">
                    <div>
                        {% if restaurant.allow_takeaway %}
                            <input checked type="checkbox" name="box" id="box">
                        {% else %}
                            <input type="checkbox" name="box" id="box">
                        {% endif %}
                        <label for="box">อนุญาตใส่กล่อง</label>
                    </div>
                </div>
                <h2>เปิด/ปิดร้าน</h2>
                <p>เมื่อปิดร้านแล้ว ลูกค้าจะไม่สามารถเข้าเลือกเมนูได้ ท่านต้องเปิดร้านก่อน ลูกค้าจึงจะเข้าเลือกเมนูและส่งคำสั่งซื้อได้</p>
                <div class="checkbox-group">
                    <div>
                        {% if restaurant.is_opened %}
                            <input checked type="checkbox" name="is_opened" id="is_opened">
                        {% else %}
                            <input type="checkbox" name="is_opened" id="is_opened">
                        {% endif %}
                        <label for="is_opened">เปิดร้าน</label>
                    </div>
                </div>
                {% csrf_token %}
                <div class="button-div">
                    <button type="submit">อัพเดต</button>
                </div>
            </form>
        </div>
    </main>
    {% include '../restaurant-nav.html' %}
</body>
</html>