{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
    {% include '../metadata.html' %}
    <link rel="stylesheet" href="{% static 'restaurant/main.css' %}">
    <link rel="stylesheet" href="{% static 'restaurant/config.css' %}">
    <title>Password Configuration Page</title>
</head>
<body class="restaurant">
    {% include '../header.html' %}
    <main>
        <h1>เปลี่ยนรหัสผ่าน</h1>
        {% if status %}
            <p class="sidenote error">
                {% if status == "-2" %}
                    รหัสผ่านไม่ถูกต้อง
                {% elif status == "-1" %}
                    รหัสผ่านใหม่ของท่านไม่ตรงกัน
                {% endif %}
            </p>
        {% endif %}
        <form action="{% url 'password_change' %}" method="POST">
            <div>
                <label for="current-password">รหัสผ่านปัจจุบัน</label>
                <input type="password" name="current-password" id="current-password">
            </div>
            <div>
                <label for="new-password">รหัสผ่านใหม่</label>
                <input type="password" name="new-password" id="new-password">
            </div>
            <div>
                <label for="new-password-confirm">ยืนยันรหัสผ่านใหม่</label>
                <input type="password" name="new-password-confirm" id="new-password-confirm">
            </div>
            {% csrf_token %}
            <div class="submit">
                <button type="submit">เปลี่ยน</button>
            </div>
        </form>
    </main>
    {% include '../restaurant-nav.html' %}
</body>
</html>