{% load static %}

<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'error.css' %}">
    <title>{{ status_code }} Error</title>
</head>
<body class="customer">
    {% include '../header.html' %}
    <main>
        <div class="icon">
            {% if is_error %}
                <img src="{% static 'error.svg' %}" alt="Error">
            {% else %}
                <img src="{% static 'not-allowed.svg' %}" alt="Not Allowed">
            {% endif %}
        </div>
        <p>เนื่องจาก<strong><u>{{ message }}</u></strong> ทำให้ระบบไม่สามารถประมวลผลคำสั่งซื้อของท่านได้</p>
        <p>ขออภัยในความไม่สะดวก</p>
        <div class="button-div">
            <a href="/" class="button">กลับ</a>
        </div>
    </main>
    {% include '../footer.html' %}
</body>
</html>