{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'customer/queuepage.css' %}">
    <title>Queue Page</title>
</head>
<body class="customer">
    {% include '../header.html' %}
    <main>
        <h2>สั่งอาหารเรียบร้อย</h2>
        <p>หมายเลขคิวของท่านคือ <strong class="queue-no">{{ queue_number }}</strong> โปรด<strong><u>ถ่ายภาพหน้าจอ</u></strong>เก็บหมายเลขคิวไว้ แล้วรอแม่ค้าขานเลขคิวอยู่หน้าร้านเพื่อรับไข่เจียวพร้อมชำระเงิน <strong><u>{{ price }} บาท</u></strong> กับแม่ค้า</p>
    </main>
    {% include '../footer.html' %}
</body>
</html>